{% extends  "main.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
              {% for post in posts %}
            <div class="card justify-content-center" style="width: 20rem;">
              <a href="/post/{{post.post_id}}">
                        <img src="{{MEDIA_URL}}/images/{{post.images.all.first.image}}" alt="img" class="img-thumbnail"/>
                    </a>
              <div class="card-body">
                <h5 class="card-title">username: <a href="/profile/?uid={{post.user.user_id}}"> {{post.user}}</a></h5>
                  <h5 class="card-title">
                    tags:
                    {% for tag in post.tags.all %}
                        #{{ tag }}
                    {% endfor %}</h5>
                <p class="card-text">
                    {{post.count_likes}} users liked this post
                </p>
              </div>
            </div>
            <br/>

            {% endfor %}
        </div>
        <br/>


        <div class="col-6 col-md-4">

            {% if request.user.is_authenticated %}

                <h5>Follow more:</h5>
                {% for user in not_followed %}
                    <p><a href="/profile/?uid={{user.user_id}}"> {{user.username}}</a></p>
                {% endfor %}

            {% endif %}
        </div>
    </div>


{% endblock %}
