{% extends  "main.html" %}

{% block content %}
    <div class="container" >
        <div class="row">

            {% for img in images %}
            <div class="col-md-auto">
                <img src="{{img.image.url}}" alt="img" class="rounded" style="width: 20rem;"/>
            </div>
            {% endfor %}

        </div>
        <br/>

        <p>username: <a href="/profile/?uid={{post.user.user_id}}"> {{post.user}}</a></p>
        <p>tags:
            {% for tag in post.tags.all %}
                #{{ tag }}
            {% endfor %}
        </p>

        <div class="ml-1" id="like-section">
            {% include 'post_likes_ajax.html' %}
        </div>

        <br/>

        {% if request.user.is_authenticated and request.user == post.user %}
                <a href="{% url 'delete post' post_id=post.post_id %}" class="btn btn-danger">Delete post</a>
        {% endif %}

        <br/>
    </div>
{% endblock %}
