{% extends  "main.html" %}

{% block content %}
    <div class="container" >
        <div class="row">

            {% for img in images %}
            <div class="col-md-auto">
                <img src="{{MEDIA_URL}}/images/{{img.image}}" alt="img" class=" rounded" style="width: 20rem;"/>
            </div>
            {% endfor %}

        </div>
        <br/>

        <p>{{likes}} users
            <a href="{% url 'show likes' post.post_id %}"> liked</a> this post
        </p>

        <p>username: <a href="/profile/?uid={{post.user.user_id}}"> {{post.user}}</a></p>
        <p>tags:
            {% for tag in post.tags.all %}
                #{{ tag }}
            {% endfor %}
        </p>

        <form action="{% url 'like' post.post_id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" name="like-btn">Like</button>
        </form>

        {% if request.user.is_authenticated and request.user == post.user %}
                <a href="{% url 'delete post' post_id=post.post_id %}">Delete post</a>
        {% endif %}

        <br/>
    </div>
{% endblock %}
