{% extends  "main.html" %}

{% load static %}

 {% block content %}

    {% if request.user.is_authenticated %}

    <div>
        <img src="{{MEDIA_URL}}/images/{{user.avatar.image}}" alt="img" height="150"/>
        <p>username: {{user.username}}</p>
        <p>first name: {{user.first_name}}</p>
        {% if user.last_name|length > 0 %}
        <p>last name: {{user.last_name}}</p>
        {% endif %}
        {% if user.bio|length > 0 %}
        <p>bio: {{user.bio}}</p>
         {% endif %}
    </div>

    <div>
        <p>{{followers}}
            <a href="{% url 'followers' user.user_id %}">Followers</a>
        </p>

        <p>{{followings}}
            <a href="{% url 'following' user.user_id %}">Follows</a>
        </p>
    </div>

        {% if not uid %}
            <div>
                <a href="{% url 'profile settings' %}">Update info</a> <br/>
                <a href="{% url 'delete user' %}">Delete profile</a>
            </div>

        {% else %}
             {% if not active_user_follows %}
                 <form action="{% url 'follow' uid %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name="follow-btn">Follow</button>
                </form>
            {% else %}
                <form action="{% url 'follow' uid %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name="follow-btn">Unfollow</button>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}